{% extends "locations/base.html" %}
{% block content %}
{% include "components/navbar.html" %}
  <div class="container">
    <form method="post">
      {% csrf_token %}
      <div class="row">
        <h1>Edit activity</h1>
      </div>
      <div class="row">
        <div class="col md-6">
          {% if error_message %}
            <div class="alert alert-danger" role="alert">
              <p><strong>{{ error_message }}</strong></p>
            </div>
          {% endif %}
          <label for="a_name">Activity name:</label>
          <input type="text" id="a_name" name="a_name" required value="{{ activity.name }}"/><br />

          <label for="activity_time">Activity time:</label>
          <input type="datetime-local" id="activity_time" required name="activity_time" value="{{ date_time }}" /><br />
          
          <label for ="reservation"> RSVP needed?: </label>
          <input type="checkbox" id="reservation" name="reservation" {% if activity.reservation %}checked{% endif %} /><br />

          <label for="location_details"> Enter any additional details about the location: </label>
          <input type="text" id="location_details" name="location_details" value="{{ activity.location_details }}"/><br />

          <label for="incentives"> Enter any additional details about the location: </label>
          <input type="text" id="incentives" name="incentives" value="{{ activity.incentives }}"/><br />

          <label for="maximum_occupancy">Maximum Occupancy</label>
          <input type="number" id="maximum_occupancy" required name="maximum_occupancy" value="{{ activity.maximum_occupancy }}"/> <br/>
          </div>
        <div class="col md-6">
          <label for="l_name">Location:</label>
          <input type="text" id="l_name" name="l_name" required value="{{ activity.location }}"/><br />
          {% include "locations/edit_map.html" %}
        </div>
      </div>
      <button class="btn btn-success" type="submit">Save</button>
      <p> If you are not an administrator, your activity will need to be verified again after saving and will no longer be visible if you save. </p>
    </form>
    <a class="btn btn-success" href="{% url 'locations:activity_view' activity.id %}">Go back without saving</a>
  </div>
{% endblock %}
